---
import LanguagePicker from '../components/languagePicker.astro';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const { title, description } = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <slot name="head" />
  </head>
  <body>
    <slot />
    <footer>
      <LanguagePicker />
    </footer>
  </body>
</html>